<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>


    <div class="container">
        <center>
            <h1>Cotización</h1>

            <img src="/img/logoAuto.png" class="img-thumbnail border border-dark rounded-circle" style="width: 200px;"> 

            <form action="/cotizacion" method="post">
                <br>
                <label class="lead" for="">Valor del automóvil</label>
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" type="number" name="valor" id="valor" required="true" placeholder="Escriba el valor del auto">
                    <div class="input-group-append">
                      <span class="input-group-text">.00</span>
                    </div>
                </div>
                  
                              

                <label class="lead" for="">Porcentaje de Pago Inicial</label>

                <select name="pInicial" id="pInicial" class="form-control border-secondary">

                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>

                </select>
                <br>
                <label class="lead" for="">Plazos</label>
                <select name="plazos" id="plazos" class="form-control border-secondary">
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                    <option value="72">72 Meses</option>
                </select>
                <br>


                <button type="submit" class="btn btn-primary btn-lg btn-block">Calcular cotización</button>
                <button id="limpiar" type="button" class="btn btn-primary btn-lg btn-block">Reiniciar valores</button>


            </form>

            <%
                
                if(pInicial != null){
                    let pagoInicial = 0;
                    let totalFin = 0;
                    let pagoMensual = 0;

                    pagoInicial = valor * (pInicial/100);
                    totalFin = valor - pagoInicial;
                    pagoMensual = totalFin / plazos;

            %>
            <br>
            <hr>
                        
            <h3>Resúmen de la Cotización</h3>
                        
            <hr>
            
            <table id="tabla" class="table table-striped table-hover  table-bordered border-secondary" style="text-align: center;">
                <tbody>
                                <tr>
                                  <th scope="row">Valor del automóvil</th>
                                  <td>$<%=valor%></td>
                                </tr>
                                <tr>
                                  <th scope="row">Porcentaje de pago inicial:</th>
                                  <td><%=pInicial%>%</td>
                                  
                                </tr>
                                <tr>
                                  <th scope="row">Plazos</th>
                                  <td><%=plazos%> Meses</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pago Inicial</th>
                                    <td>$<%=pagoInicial%></td>
                                </tr>
                                <tr>
                                    <th scope="row">Total a financiar</th>
                                    <td>$<%=totalFin%></td>
                                </tr>
                                <tr>
                                    <th scope="row">Pago Mensual</th>
                                    <td>$<%=pagoMensual%></td>
                                </tr>
                              </tbody>
                        </table>
                        <br>

                        
                       
                        
            
                        <%
                          }
                        %>
            
           
                        
            <p class="lead">Nota: Para calcular una nueva cotización escriba nuevamente el precio y escoga nuevos valores para su "Porcentaje de pago inicial" y "Plazos"</p>

            <footer class="bg-light text-center text-lg-start">
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                  © 2020 Copyright:
                  <a class="text-dark">VÍCTOR URIEL JUÁREZ LUGO</a>
                </div>
                <!-- Copyright -->
              </footer>
               
            



        </center>
    </div>


    



    
<script>
  document.getElementById("limpiar").addEventListener("click", function() {
    var table = document.getElementById("tabla");
    for (var i = 0, row; row = table.rows[i]; i++) {
        for (var j = 1, col; col = row.cells[j]; j++) {
            col.innerHTML = "";
        }  
    }
});
</script>




    
</body>
</html>





