<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 01 EJS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.ccs">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>


<div class="container">
    <center>
    <h1><%=titulo%></h1>
    <img src="./img/LogoUpsin.jpg" alt="">
    
        <table class="table table-striped table-hover  table-bordered border-secondary">
            <thead class="table-dark">
                <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>Materias</th>
                </tr>
            </thead>
            

            <% for(alumno of listado){%>
                <tr>
                    <td><%=alumno.matricula%></td>
                    <td><%=alumno.nombre%></td>
                    <td><%=alumno.sexo%></td>
                    <td><%=alumno.materias%></td>
                </tr>
                <%
            }
            %>

        </table>



    </center>
</div>




</body>
</html>