<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas de Multiplicar</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <center>
        <h1>Tablas de Multiplicar</h1>

        <form action="/tablas" method="post">
            
            <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="tabla" name="tabla" required="true" placeholder="Escriba un número para obtener su tabla de multiplicar">
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Obtener tabla de multiplicar</button>
            
        </form>
        <br><br>
        
        
        <%

            if(tabla != null){
                let res = 0;

                for(con = 1; con<=10; con++){
                    res = con * tabla;
                    %>
                    
                    <table class="table table-striped table-hover  table-bordered border-secondary" style="text-align: center;">
                        <tr>
                            <th scope="row"><%=tabla%> x <%=con%> = <%=res%></th>
                        </tr>
                    </table>
                    <%
                }
            }



        %>
    

    </center>

    </div>



</body>
</html>